In [1]:
# packages to store and manipulate data
import pandas as pd
import numpy as np

In [2]:
# import data
df_training = pd.read_csv('../data/raw/task1_training.tsv', sep='\t')
df_validation = pd.read_csv('../data/raw/task1_validation.tsv', sep='\t')
df_test = pd.read_csv('../data/raw/AnnotationDRUGSInTweets_EMNLPChallenge18_TrainingSetClean.tsv', sep='\t')

In [3]:
# check sample of training data
df_training.sample(5)

,tweet_id,user_id,tweet,created_at,class
47833,778385820373831680,1143892999,"When your tired of telling your kid No, Stop &...",2016-09-21,0
49295,793063715750883328,109506129,@MiadaDeva he giving u the blues girl... smh,2016-10-31,0
47697,819645598932602882,2147874931,Yaaasss FINALLY!!!üòçüò≠ https://t.co/RQNH585YKi,2017-01-12,0
47991,456055728433029120,2281566142,Well doesn't this just suck...,2014-04-15,0
52850,835597844224622592,21343364,It's been one week since you looked at me,2017-02-25,0

In [4]:
# check sample of validation data
df_validation.sample(5)

,tweet_id,user_id,tweet,created_at,class
8909,862353859401986050,2147874931,WE ARE SO PROUD OF YOU!üéì He received 4 certifi...,2017-05-10,0
11192,484944334186217473,1485346748,"I mean look at 16 &amp; pregnant,they REALLY t...",2014-07-04,0
6527,810713825192398848,1143892999,Man nothing beats being a Mother I wouldn't tr...,2016-12-19,0
3786,732627439021477888,1143892999,I think this girl want me to beat her tf up si...,2016-05-17,0
3725,586644560329117697,726992034,My new vans will get here on the 16 excited üåª,2015-04-10,0

In [5]:
# check sample of test data
df_test.sample(5)

,tweet_id,user_id,text,created_at,label
806,774177972928380928,27903955,@Jenbells_ I have low b12 and have regular inj...,2016-09-09 09:29:46,1
2860,583450794638188544,1321321356,He prescribed me codeine. I don't like it. My ...,2015-04-02 02:08:04,1
4126,719125296025174016,2324581476,A Dose of Dr. Greger‚Äôs (Plant-Based) Medicine ...,2016-04-10 11:30:05,0
1569,386101249961373696,335731901,Omg why did this happen today? Of all days!! -...,2013-10-04 12:11:26,1
972,840609094457274369,876004801,Ughhhh these Promethazine pills keep putting m...,2017-03-11 17:03:20,1

In [6]:
df_training['class'].value_counts()

0    55273
1      146
Name: class, dtype: int64

In [7]:
df_training.loc[df_training['class'] == 0].sample(5)[['tweet']]

                                                   tweet
24811   this is what l like baeüòç https://t.co/8UnKUFw4Ws
45869  Don't ask cause I don't know... We're #silly #...
4442   Pretty sure Dexter just pulled a mooney at @Li...
25872         Moving into the new house, 2 two days üòÆüòÆüòÆüòÆ
52249        Captain crunch cravings are too real at 1AM

In [8]:
df_validation['class'].value_counts()

0    13818
1       35
Name: class, dtype: int64

In [9]:
df_test['label'].value_counts()

1    4975
0    4647
Name: label, dtype: int64

In [10]:
# rename columns
df_training = df_training.rename(columns={'class' : 'label', 'tweet': 'text'})
df_validation = df_validation.rename(columns={'class' : 'label', 'tweet': 'text'})

#### Export data with necessary columns only

In [11]:
df_training.to_csv('../data/interim/train.csv', columns = ['label', 'text'], index=False, header=False)
df_validation.to_csv('../data/interim/valid.csv', columns = ['label', 'text'], index=False, header=False)
df_test.to_csv('../data/interim/test.csv', columns = ['label', 'text'], index=False, header=False)